.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.kerb {
  background: #2222;
  box-sizing: border-box;
  display: block;
  height: 1.3rem;
  padding: 0.1rem 0;
  text-align: center;
  width: 5rem;
}

.blank {
  background: #2222;
  box-sizing: border-box;
  display: inline-flex;
  min-height: 1rem;
  text-align: center;
  width: 5rem;
}

.blank.correct {
  background: #0f08;
}

.blank.wrong {
  background: #f008;
}

.quote {
  display: grid;
  grid-template-columns: 7rem 28rem;
  gap: 1rem 0.5rem;
  min-height: 5rem;

  .speaker {
    text-align: right;
  }

  .saying span {
    vertical-align: text-bottom;
  }
}

.choices {
  background: #2222;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  min-height: 1.3rem;
  width: 100%;
}
